<h1>New player guide</h1>

<h2>Filter</h2>

<label>Complexity</label>
<select>
    <option>Easy to use</option>
    <option>Medio-core</option>
    <option>Complex</option>
</select>
<!--
    Easy2-use: Monk, Barbarian, Paladin, Ranger
    Mediocore: Bard, Cleric, Wizard, Fighter
    Complexer: Sorcerer, Warlock, Druid, Rouge
-->

<label>Martial art or Spell caster</label>
<select>
    <option>Martial art focused</option>
    <option>Half-caster</option>
    <option>Spellcaster</option>
</select>
<!--
    Martial: Barbarian, Fighter, Monk, Rouge
    Half-c.: Paladin, Ranger
    Spellc.: Bard, Cleric, Druid, Sorcerer, Warlock, Wizard
-->

<label>Support / in-between / full-damage</label>
<select>
    <option>Support/Tanky</option>
    <option>In-between</option>
    <option>Damage dealer</option>
</select>
<!--
    Supp.: Barbarian, Cleric, Druid, Bard
    In-b.: Fighter, Monk, Paladin, Ranger
    f.DPS: Rouge, Sorcerer, Warlock, Wizard
-->

<!-- Component which showcases all classes, dinamically changing disabled like state, to represent, which is recommended based on player's choices -->
<div>
    <div>Main class</div>
    <div>
        <div>sub1</div>
        <div>sub2</div>
        <div>sub3</div>
        <div>sub4</div>
    </div>
</div>

<!-- if user select one of the class/subclass here should be a detail view for that -->

<h2>Detail view</h2>
<div>  
    <p>Selected Class: <span>Subclass</span> Class</p>

    <div>details</div>
</div>
<!--
    Logic for disabl
-->