
@mixin theme-palette($color, $bgColor, $borderColor) {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: $bgColor;

    * {
        color: $color;
        border-color: $borderColor;
        background-color: $bgColor;
    }
}